@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

:root {
    --primary-color: #f16023;
}

* {
    font-family: 'Nova Mono', monospace;
}

body {
    /*     background: linear-gradient(to bottom, #ffffff 0%, #ff4500 100%);
 */
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: black;

    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #f16023;
}

.elements {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f16023;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2%;
    margin-left: 8px;
    margin-right: 8px;
}

.major_container_row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    align-content: center;
    justify-content: center;
}

.container {
    font-weight: 600;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    color: white;
    min-height: 180px;
    margin: 2px;
    width: 100%;
}

.container_no_margin_left{
    margin-left: 0px;
}

.container_no_margin_right{
    margin-right: 0px;
}

.black_text {
    color: black;
}

.devs-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 450px;
    border: 1px #000000 solid;
    padding: 18px;
    border-radius: 10px;
    background-color: #ffffff;
}

.profile-card img{
    height: 30%;
    border-radius: 50%;
    margin: 0px;
}

.profile-card__description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 0px;
}

.profile-card__description h1{
    font-size: 16px;
    margin: 0px;
}

.profile-card__description p{
    font-size: 15px;
    margin: 0px;
}

.profile-card__social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0px;
}

.profile-card__social a{
    color: #ff9900;
    text-decoration: none;
    font-size: 25px;
}

.profile-card__social a:hover{
    color: #ffbe5c;
}

/* ===== Scrollbar CSS ===== */
* {
    scrollbar-width: auto;
    scrollbar-color:  var(--primary-color) #8f54a000;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffb889;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }